.overlay {
  background-color: rgba(255, 255, 255, 0.5);
  float: right;
  height: 100%;
  position: relative;
  text-align: center;
  width: 317px;
}

#hide-blessing-overlay {
  display: none;
}

button.close {
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  float: left;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 15
}

#option {
  font-family: helvetica;
  font-size: 20px;
  margin-top: 200px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 55px;
  text-align: center;
}

.yes-bless, .no-bless {
  background-color: #fff;
  border: none;
  font: bold 20px helvetica;
}

.no-bless {
  margin-right: 37.5px;
}

.yes-bless {
  margin-left: 37.5px;
}