#first-overlay,
#second-overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

#first-overlay .blessOptions {
  background-color: #ffefca;
  border:1px solid #000;
  height: 161px;
  margin: 100px auto;
  padding:15px;
  text-align:center;
  width:292px;
 }

 #second-overlay .blessingItem {
  background-color: #ffefca;
  float: right;
  height: 100%;
  margin: 100px auto;
  padding:15px;
  text-align:center;
  width:241px;
 }

#first-overlay .blessOptions p,
#second-overlay .blessingItem p  {
  font: 600 20px Arial, sans-serif;
}

#first-overlay .blessOptions .close,
#second-overlay .blessingItem .close{
  border: none;
  background-color: #ffefca;
  float: left;
}

#first-overlay .blessOptions .yes-bless {
  background-color: #fff;
  border-color: #000;
  border-radius: 15px;
  height: 51px;
  width: 135px;
}

#first-overlay .blessOptions .yes-bless,
#first-overlay .blessOptions .no-bless
 {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 12px;
}


#first-overlay .blessOptions .no-bless {
  border: none;
  background-color: #ffefca;
  font-size: 15px;
  text-decoration: underline;
}

#second-overlay .blessingItem .blessing {
  font-size: 11px;
  font-style: italic;
  font-weight: lighter;
}